<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="utf-8">

  <title>Vem de ZAP</title>
  <meta name="description" content="Vem de zap bb">

  <link rel="stylesheet" href="css/zap.css">
  <link rel="stylesheet" href="css/slider.css">
  
  <script src="js/jquery.min.js"></script>
  
  <script src="js/zap.js"></script>
</head>

<body>
  <header>
    <center>
      <h1>VEM DE ZAP</h1>
    </center>
  </header>

  <aside></aside>

  <center>
    <section id="mood-selection">
    </section>
  
    <section id="strength-selection">
      <input
        id="strength-slider"
        type="range"
        min="0"
        max="1000"
        step="1"
        value="1"
      >
      <div id="strength-show">0</div>
    </section>
  </center>
</body>

</html>